@media  only screen and (max-width:992px) {
                    *{
                                        box-sizing: border-box;
                    }
                    body{
                                        line-height: 1.42857143;
                                        color: #333;
                    }
                    html{
                                        -webkit-text-size-adjust: 100%;
                                        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                    }
                    .wrapper.top_60 {
                             margin-top: 30px;
                    }
                    .container {
                                        padding-right: 15px;
                                        padding-left: 15px;
                                        margin-right: auto;
                                        margin-left: auto;
                    }
                header nav ul{
                    margin-right: 230px;
                }
                    .row{
                                        display: block;
                                        
                                        margin-right: -15px;
                                        margin-left: -15px;
                    }
                    .profile{
                                        width: 850px;
                                        padding-bottom: 30px;
                                        margin-bottom: 30px;
                                        margin-left: 30px;
                    }
                    .profile-name{
                                        font-size: 20px;
                                        margin-top: 11px;
                    }
                    .profile img{
                                        width:850px;
                                        
                                        
                    }
                    ul.profile-information {
                                        list-style: none;
                                        margin: 0 auto 30px;
                                        display: table;
                    }
                    ul.profile-information li:first-child {
                                        padding-bottom: 10px;
                                        padding-left: 30px;
                    }
                    .service{
                                        margin-top: 20px ;
                    }
                    
                    .pull-right {
                                        float: right !important;
                    }
                    /* .hidden-md {
                                        display: none !important;
                    } */
                    .skill-list .progress{
                                     width: 750px;   
                    }
                    footer{
                                        width: 850px;
                                        margin-left: 20px;
                    }
                    
                
                    
                }
                @media  only screen and (max-width:768px) {
                    header nav ul{
                        padding-right: 70px;
                    }
                    header nav{
                                        width: 700px;
                    }
                    header nav ul.tabs li:first-child{
                        display: block;
                    }
                   
                    heaver nav .site-btn{
                        margin: 500px;
                    }

                    
                    header nav .hamburger {
                        font-size: 20px;
                        margin-right: 23px;
                        cursor: pointer;
                        line-height: 71px;
                        border-left: solid 1px #eaeaea;
                        padding-left: 21px;
                        color: #000;
                    }
                    .profile{
                                        width: 700px;
                                        padding-bottom: 30px;
                                        margin-bottom: 30px;
                                        margin-left: 30px;
                    }
                    
                    .profile-name{
                                        font-size: 20px;
                                        margin-top: 11px;
                    }
                    .profile img{
                                        width:700px;
                                        
                                    
                    }
                    
                    ul.profile-information {
                                        list-style: none;
                                        margin: 0 auto 30px;
                                        display: table;
                    }
                    ul.profile-information li:first-child {
                                        padding-bottom: 10px;
                                        padding-left: 30px;
                    }
                    .service{
                                        margin-top: 20px ;
                    }
                    
                    .pull-right {
                                        float: right !important;
                    }
                    /* .hidden-md {
                                        display: none !important;
                    } */
                    .skill-list .progress{
                                     width: 700px;   
                    }
                    footer{
                                        width: 700px;
                                        margin-left: 20px;
                    }
                    #ajax-tap-container{
                                        width: 700px;
                    }
                    .porifolo-singlePage{
                                        width: 700px;
                                        margin-left: 20px;
                    }
                    .porifolo-singlePage_list{
                                        margin-left: 20px;
                                        width: 300px;
                    }

                
                }
                /* @media (max-width:991px){
                    header .nav{
                        position: absolute;
                        top:100%; left: 0; right: 0;
                        background: #fff;
                        border-top: 1px solid rgba(0,0,0,.1);
                        border-bottom: 1px solid rgba(0,0,0,.1);
                        transition: .2s linear;
                        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
                    }
                    .nav{
                        display: inline-block;
                    }
                    .home .content h3{
                            font-size: 30px;
                         }
                    .row{
                        display: block;
                    }
                   
                    
                }
                @media (max-width:768px){
                    
                        header .nav{
                            position: absolute;
                            top:100%; left: 0; right: 0;
                            background: #fff;
                            border-top: 1px solid rgba(0,0,0,.1);
                            border-bottom: 1px solid rgba(0,0,0,.1);
                            transition: .2s linear;
                            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
                        }
                    
                        header .nav.active{
                            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
                        }
                    
                        header .nav a{
                            display: block;
                            width: 100%;
                            margin:10px;
                        }
                    
                        .fa-times{
                            transform: rotate(180deg);
                        }
                    
                } */
                @media (max-width:578px){
                    .row{
                        display: block;
                        margin: 0;
                    }
                    .wrapper{
                        width: 578px;
                    }
                    .profile{
                        width: 590px;
                        margin-bottom: 20px;
                        margin-left: 15px;
                    }
                    header nav ul.tabs li {
                        display: none;
                    }
                    header nav .hidden-md {
                        padding-right: 25px;
                    }
                    .profile img{
                                        width: 590px;
                    }
                    header nav{
                                        width: 590px;
                    }
                    header nav ul{
                                        display: none;
                                        padding-right: 220px;
                    }
                    #ajax-tap-container{
                        width: 342px;
                       
                
                    }
                    #content{
                        width: 590px;
                        padding: auto;
                        margin-left: 15px;
                    }
                    .col-md-8 {
                        margin-left: 0;
                    }
                    .service{
                        margin-bottom: 20px;
                    }
                    .design-skills{
                        margin-left: 0px;
                        
                    }
                    .design-skills,
                    .code-skills{
                        width: 250px;
                    }
                    .porifolo ul{
                                        display: none;
                    }
                    .porifolo_name{
                        margin-top: 30px;
                    }
                    .porifolo-singlePage{
                                        width: 590px;
                                        margin-left: 20px;
                                        
                    }
                    .porifolo-singlePage_list{
                                        margin-left: 0px;
                                        width: 240px;
                                       
                    }
                    .contact{
                        display: block;
                    }
                    .contact_from{
                        width: 100%;
                    }
                    .informations{
                        display: block;
                    }
                    footer{
                        width: 590px;
                        display: block;
                    }
                    .clients_list{
                        display: block;
                    }
                    .clients_list img{
                        width: 530px;
                        
                    }
                
                
                }
                
                
                
                
                @media (max-width:312px){
                    .row{
                        display: block;
                        margin: 0;
                    }
                    .wrapper{
                        width: 312px;
                    }
                    .profile{
                        width: 342px;
                        margin-bottom: 20px;
                        margin-left: 15px;
                    }
                    .hamburger i{
                        
                    }
                    .profile img{
                                        width: 342px;
                    }
                    header nav{
                                        width: 342px;
                    }
                    header nav ul{
                                        display: none;
                    }
                    #ajax-tap-container{
                        width: 342px;
                       
                
                    }
                    #content{
                        width: 342px;
                        padding: auto;
                        margin-left: 15px;
                    }
                    .col-md-8 {
                        margin-left: 0;
                    }
                    .service{
                        margin-bottom: 20px;
                    }
                    .design-skills{
                        margin-left: 0px;
                        
                    }
                    .design-skills,
                    .code-skills{
                        width: 250px;
                    }
                    .porifolo ul{
                                        display: none;
                    }
                    .porifolo-singlePage{
                                        width: 342px;
                                        margin-left: 20px;
                                        display: block;
                    }
                    .porifolo-singlePage_list{
                                        margin-left: 0px;
                                        width: 280px;
                    }
                    footer{
                        width: 342px;
                        display: block;
                    }
                
                
                }
                
                
                
                