body{
                    background-image: url(/img/bg.png) #fafafa;
                   font-family: roboto, sans-serif;
                   background:#fafafa;
                   position: relative;
                   overflow: hidden;

}

html{
                    height: 100%;
}
*{
                    margin: 0;
                    padding: 0;
                    border: 0;
                    outline: 0;
                    background: transparent;
}

.site-btn{
                    font-size: 14px;
                    font-weight: 500;
                    border-radius: 50px;
                    -webkit-border-radius:50px;
                    -moz-border-radius:50px;
                    padding: 1px 29px;
                    line-height: 35px;
}

.site-btn .icon{
                    text-align: left;
                    padding: 1px 6px 1px 19px;
}

.site-btn .icon i{
                    color: #000;
                    background: #fff;
                    margin-left: 15px;
                    border-radius: 50px;
                    font-size: 11px;
                    height: 27px;
                    width: 27px;
                    float: right;
                    text-align: center;
                    line-height: 29px;
                    margin-top: 4px;
}

p{
                    font-size: 13px;
                    color: #4c4c4c;
                    line-height: 24px;
 }

 .profile{
                    width: 265px;
                    height: 635px;
                    background: #fff;
                    border-radius: 6px;
                    -moz-border-radius: 6px;
                    -webkit-border-radius: 6px;
                    -o-border-radius: 6px;
                    width: 100%;
                    display: inline-block;    
                    box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.07);
                    -webkit-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.07);
                    -moz-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.07);                 
}

.profile .name {
                    line-height: 18px;
                    padding: 20px;
                    text-transform: uppercase;
                    font-size: 17px;
                    font-weight: bold;

}
.profile .jod {
                    padding: 20px;
                    color: #777777;
                    font-size: 13px;
}

.profile-img{
                   margin-top: -18px; 
                   -webkit-clip-path: polygon(0 9%, 100% 0, 100% 94%, 0% 100%);
                    clip-path: polygon(0 9%, 100% 0, 100% 94%, 0% 100%);
                    height: 250px;
                    width: 250px;
                 
}
.profile-img img{
                    width: 100%;
}

.profile-information{
                    list-style: none;
                    margin: 8px 0px 8px 35px;
}

.profile-information li{
                    border-left: 2px solid #eee;
                    padding:0 0 23px 20px;
                    font-size: 14px;
                    color: #787878;
}

ul.profile-information li p{
                    font-size: 13.5px;
                    color: #7f7f7f;
                    line-height: 12px;
}

ul.profile-information li:last-child{
                    border: 0;
                    margin-left: 2px;
                    margin-top: -2px;
}


ul.profile-information li:before{
                    content: "";
                    border: solid 2px;
                    width: 8px;
                    height: 8px;
                    border-radius: 50px;
                    -moz-border-radius: 50px;
                    -webkit-border-radius: 50px;
                    font-size: 8px;
                    margin-left: -25px;
                    margin-top: 2px;
                    font-weight: 400;
                    background: #fff;
                    display: block;
                    position: absolute;
}

ul.profile-information li span{color:#000}

ul.profile-information li:first-child{
                    padding-bottom: 10px;  
                    padding-left: 30px;
                    position: relative;
}

ul.profile-information li:first-child img {
                    margin:44px -44px;
                    display: inline-block;
                    position: absolute;
                    width: 20px;
 }
        
 ul.profile-information li:first-child::before {

                    margin-left: -51px;
                    margin-top: -30px;
                    margin-bottom: 20px;
                    position: relative;
                    border: 0;
                    width: 40px;
                    height: 40px;
                    padding: 11px 14px;
                    box-shadow: 0px 2px 32px 0px rgba(4, 123, 248, 0.3);
}
 ul.profile-information li:first-child::after {
                    background: url(img/glasses.png) no-repeat;
                    content: '';
                    width: 30px;
                    height: 10px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    margin: 16px -15px;
                    background-size: 27px 10px;
 }

.profile .site-btn{
                    margin: 18px auto 30px;
                    display: block;
}
/* <!-- navigation bar --> */

header{
                    height: 70px;
                    width: 850px;
                    display:list-item;
}

header nav{
                    background: #fff;
                    display: inline-block;
                    border-radius: 6px;
                    -moz-border-radius:6px;
                    -webkit-border-radius:6px;
                    height: 70px;
                    width: 100%;
                    margin-bottom: 30px;
                    line-height: 70px;
                    box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.07);
                    -webkit-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.07);
                    -moz-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.07);         
}

header nav ul li{
                    float:left;
}


header nav ul li a{
                    font-size:14px;
                    font-weight: bold;
                    color: #000;
                    padding: 0 10px;
                    line-height: 73px;
                    display: block;
}

header nav ul li a:after{
                    border-right: 1px solid #dfdfdf;
}

header nav a .home-btn{
                    color: #fff;
                    border-radius: 6px 0 0 6px;
                    -webkit-border-shadow: 6px 0 0 6px;
                    -moz-border-radius:6px 0 0 6 px;
                    padding: 0px 24px;
                    float:left;
                    height: 70px;
                    line-height: 70px;
                    margin-right:20px;
                    line-height: 77px;
}

header nav a.home-btn i{
                    font-size: 21px;
}
                
header nav .site-btn{
                    margin: 18px 18px 0 5px;  
} 

.social-icons a {
                    color: #000;
                    font-size: 12px;
                    width: 24px;
                    height: 18px;
                    margin: 5px ;
}
      
.fb:hover{
                    color:#285ed4;
}

.tw:hover{
                    color:#3b5998;
}

.ins:hover{
                    color:#3b5998;
}

.dr:hover{
                    color:#3b5998;
}

.site-btn{
                    font-size: 15px;
                    text-decoration: none;
                    color:#fff;
                    background:;

}
















header nav .menuout{
                    z-index: 10
                }
                
.tabs .tab {
                    display: flex;
}
.tabs .tab a {
                    text-decoration: none;
                    margin: 5px;
}
.col-md-4  .pull-right{
                    text-align: right;
}

.wrapper{
                    margin-top: 60px;
                    width: 1170px ;
                    background: transparent;
}
.container{
                    padding-right: 15px;
                    padding-left: 15px;
                    margin-right: auto;
                    margin-left: auto;
}
*{
                    margin: 0;
                    padding: 0;
                    border: 0;
                    outline: 0;;
                    background: transparent;
}
.row{
                    display: flex;
}



.tabs{
                    display: flex;
                    list-style-type: none;
                    text-decoration: none;
                    
}

.tabs .tab a {
                    text-decoration: none;
                    margin: 5px;
}
.col-md-4  .pull-right{
                    text-align: right;
}
.col-md-8{
                    margin-left: 30px;
}
