body{
                    background-image: url(/img/bg.png);
                   font-family: roboto, sans-serif;
}
*{
                    margin: 0;
                    padding: 0;
                    border: 0;
                    outline: 0;
                    background: transparent;
}
.wrapper{
                    margin-top: 60px;
                    width: 1170px ;
                    background: transparent;
}
.container{
                    padding-right: 15px;
                    padding-left: 15px;
                    margin-right: auto;
                    margin-left: auto;
}
*{
                    margin: 0;
                    padding: 0;
                    border: 0;
                    outline: 0;
                    font-size: 100%;
                    background: transparent;
}
.row{
                    display: flex;
}
.col-md-4{
                    width: 380px;
}

.profile .name {
                    text-transform: uppercase;
                    font-size: 17px;
                    font-weight: bold;

}
.profile .jod {
                    color: #777777;
       
                    font-size: 13px;
}

.profile .img{
                   margin-top: -18px; 
}
.tabs{
                    display: flex;
                    list-style-type: none;
                    text-decoration: none;
                    
}

.tabs .tab a {
                    text-decoration: none;
                    margin: 5px;
}
.col-md-4  .pull-right{
                    text-align: right;
}
