body{
                    background-image: url(/img/bg.png);
}
.top_60{
                    margin-top: 60px;
                    width: 1170px ;
                    background:#fefefe ;
}
.container{
                    padding-right: 15px;
                    padding-left: 15px;
                    margin-right: auto;
                    margin-left: auto;
}