body{
                    background-image: url(/img/bg.png) #fafafa;
                   font-family: roboto, sans-serif;
                   background:#fafafa;
                   position: relative;
                  

}

html{
                    height: 100%;
}
*{
                    margin: 0;
                    padding: 0;
                    border: 0;
                    outline: 0;
                    background: transparent;
}

.top_60 {
    margin-top: 60px;
}
 /* col-lg */
.col-lg-3 {
    width: 25%;
}
.col-lg-9 {
    width: 75%;
}
 /* col-md */
.col-md-3 {
    width: 25%;
}
.col-md-4 {
    width: 33.33333333%;
}
.col-md-12 {
    width: 100%;
}
.col-md-8 {
    width: 66.66666667%;
}
.col-md-6 {
    width: 50%;
}

 /* col-xs */
.col-xs-4 {
    width: 33.33333333%;
}
.col-xs-8 {
    width: 66.66666667%;
}
.col-xs-12 {
    width: 100%;
}
  /* col-sm */
.col-sm-4 {
    width: 33.33333333%;
}
.col-sm-6 {
    width: 50%;
}

.top_15{
    margin-top: 15px;
}

.top_30{
    margin-top: 30px;
}

.top_45{
    margin-top: 45px;
}

.top_60{
    margin-top: 60px;
}

.top_90{
    margin-top: 90px;
}

.top_120{
    margin-top: 120px;
}

.padding_30{
   padding-top: 30px; 
}

.padding_45{
   padding-top: 45px; 
}

.padding_50{
   padding-top: 50px; 
}

.padding_60{
   padding-top: 60px; 
}

.padding_90{
   padding-top: 90px; 
}

.bottom_15{
    margin-bottom: 15px;
}

.bottom_30{
    margin-bottom: 30px;
}

.bottom_45{
    margin-bottom: 45px;
}

.bottom_60{
    margin-bottom: 60px;
}

.bottom_90{
    margin-bottom: 90px;
}

.bottom_120{
    margin-bottom: 120px;
}

.padbot_15{
    padding-bottom: 15px;
}

.padbot_30{
    padding-bottom: 30px;
}

.padbot_45{
    padding-bottom: 45px;
}

.padbot_50{
    padding-bottom: 50px;
}

.padbot_60{
    padding-bottom: 60px;
}


.site-btn{
                    font-size: 14px;
                    font-weight: 500;
                    border-radius: 50px;
                    -webkit-border-radius:50px;
                    -moz-border-radius:50px;
                    padding: 1px 29px;
                    line-height: 35px;
}

.site-btn .icon{
                    text-align: left;
                    padding: 1px 6px 1px 19px;
}

.site-btn .icon i{
                    color: #000;
                    background: #fff;
                    margin-left: 15px;
                    border-radius: 50px;
                    font-size: 11px;
                    height: 27px;
                    width: 27px;
                    float: right;
                    text-align: center;
                    line-height: 29px;
                    margin-top: 4px;
}

p{
                    font-size: 13px;
                    color: #4c4c4c;
                    line-height: 24px;
 }

 .profile{
                    width: 265px;
                    height: 635px;
                    background: #fff;
                    border-radius: 6px;
                    -moz-border-radius: 6px;
                    -webkit-border-radius: 6px;
                    -o-border-radius: 6px;
                    width: 100%;
                    display: inline-block;    
                    box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.07);
                    -webkit-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.07);
                    -moz-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.07);                 
}

.profile .name {
                    line-height: 18px;
                    padding: 20px;
                    text-transform: uppercase;
                    font-size: 17px;
                    font-weight: bold;

}
.profile .jod {
                    padding: 20px;
                    color: #777777;
                    font-size: 13px;
}

.profile-img{
                   margin-top: -18px; 
                   -webkit-clip-path: polygon(0 9%, 100% 0, 100% 94%, 0% 100%);
                    clip-path: polygon(0 9%, 100% 0, 100% 94%, 0% 100%);
                    height: 250px;
                    width: 250px;
                 
}
.profile-img img{
                    
                    width: 130%;
}

.profile-information{
                    list-style: none;
                    margin: 8px 0px 8px 35px;
}

.profile-information li{
                    border-left: 2px solid #eee;
                    padding:0 0 23px 20px;
                    font-size: 14px;
                    color: #787878;
}

ul.profile-information li p{
                    font-size: 13.5px;
                    color: #7f7f7f;
                    line-height: 12px;
}

ul.profile-information li:last-child{
                    border: 0;
                    margin-left: 2px;
                    margin-top: -2px;
}


ul.profile-information li:before{
                    content: "";
                    border: solid 2px;
                    width: 8px;
                    height: 8px;
                    border-radius: 50px;
                    -moz-border-radius: 50px;
                    -webkit-border-radius: 50px;
                    font-size: 8px;
                    margin-left: -25px;
                    margin-top: 2px;
                    font-weight: 400;
                    background: #fff;
                    display: block;
                    position: absolute;
}

ul.profile-information li span{color:#000}

ul.profile-information li:first-child{
                    padding-bottom: 10px;  
                    padding-left: 30px;
                    position: relative;
}

ul.profile-information li:first-child img {
                    margin:44px -44px;
                    display: inline-block;
                    position: absolute;
                    width: 20px;
 }
        
 ul.profile-information li:first-child::before {

                    margin-left: -51px;
                    margin-top: -30px;
                    margin-bottom: 20px;
                    position: relative;
                    border: 0;
                    width: 40px;
                    height: 40px;
                    padding: 11px 14px;
                    box-shadow: 0px 2px 32px 0px rgba(4, 123, 248, 0.3);
}
 ul.profile-information li:first-child::after {
                    background: url(img/glasses.png) no-repeat;
                    content: '';
                    width: 30px;
                    height: 10px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    margin: 16px -15px;
                    background-size: 27px 10px;
 }

.profile .site-btn{
                    margin: 18px auto 30px;
                    display: block;
}
/* <!-- navigation bar --> */
header{
    width: 100%;
}

header nav{
                    background: #fff;
                    display: inline-block;
                    border-radius: 6px;
                    -moz-border-radius:6px;
                    -webkit-border-radius:6px;
                    height: 70px;
                    width: 100%;
                    margin-bottom: 30px;
                    line-height: 70px;
                    box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.07);
                    -webkit-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.07);
                    -moz-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.07);         
}

header nav ul li{
                   
                    float:left;
                    
}
.tabs{
    width: 100%;
}

.tabs .tab {
    list-style-type: none;
    display: flex;
}
.tabs .tab a {
    text-decoration: none;
    margin: 5px;
}
.pull-right{
    text-align: right;
}

header nav ul li a{
                    font-size:14px;
                    font-weight: bold;
                    color: #000;
                    padding: 0 10px;
                    line-height: 73px;
                    display: block;
}

header nav ul li a:after{
                    border-right: 1px solid #dfdfdf;
}

header nav a .home-btn{
                    
                    color: #fff;
                    border-radius: 6px 0 0 6px;
                    -webkit-border-shadow: 6px 0 0 6px;
                    -moz-border-radius:6px 0 0 6 px;
                    padding: 0px 24px;
                    float:left;
                    height: 70px;
                    line-height: 70px;
                    margin-right:20px;
                    line-height: 77px;
}

header nav a.home-btn i{
                    font-size: 21px;
}
                
header nav .site-btn{
                    margin: 18px 18px 0 5px;  
} 

.social-icons a {
                    color: #000;
                    font-size: 12px;
                    width: 24px;
                    height: 18px;
                    margin: 5px ;
}
      
.fb:hover{
                    color:#285ed4;
}

.tw:hover{
                    color:#3b5998;
}

.ins:hover{
                    color:#3b5998;
}

.dr:hover{
                    color:#3b5998;
}

.site-btn{
                    font-size: 16px;
                    text-decoration: none;
                    color:#fff;
                    background: #ff0000;
}

.fa-paper-plane{
                    color:#000;
                    margin-left: 10px ;
}

/* home section */
#content{
                    min-height: 500px;
                    border-radius: 6px;
                    -moz-border-radius: 6px;
                    -webkit-border-radius: 6px;
                    padding: 15px;
                }
#home{
                    width: 850px;
                    height: 350px;
                    background: #fff;
}
section{
                    width: 100%;
                    padding-left: 30px !important;
                    padding-right: 30px !important;
}

.section-title{
                    margin: 50px 0 30px 30px;

}

.section-title h2{
                    text-decoration-line: underline;
                    text-decoration-color: #ff0000;
                    text-decoration-thickness: 5px;
                    font-size: 18px;
}
/* .services .service span.title{
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
}

.service{
    background: #fff;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    padding: 20px;
   box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.01);
   min-height: 186px;
   width: 25%;;
   margin-right: px;
} */

.services{
    width: 100%;
    background: #0c49cd00;
    box-shadow: 0px 0px 48px 0px #fff;
   
}

.services div{
    display: flex;
}
.service{
    background: #fff;
    box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.01);
    padding: 25px;
    margin: 30px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.01);
    min-height: 186px;
}

.padbot_45 {
    padding-bottom: 0px;
}

.design-skills {
    width: 100%;
    background: #fff;
    display: flex;
    box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.01);
}
.bottom_45{
    margin-bottom: 0px;
}

.design-skills ul{
    display: block;
    list-style-type: none; 
}

.education{
    width: 100%;
    background: #fff;
    box-shadow:  0px 0px 48px 0px rgba(4, 6, 4, 0.1);
    display: flex;
}

.working-history{
    width: 50%;
}
.section-title.working-history {
    width: 50%;
    display: block;
}
.section-title ul{
   margin-top: 20px;
}
.section-title ul li{
    margin-top: 20px;
}
.progress{
    height: 7px;
}

.timeline{
    list-style-type: none;
}

ul.timeline{
    margin-top: 30px;
}

.timeline li{
    border-left: solid 2px #dfc60d;
    list-style: none;
    padding: 0 0 40px 30px;
}

.timeline li:before{
    content: "";
    border: solid 2px;
    width: 8px;
    height: 8px;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    font-size: 8px;
    margin-left: -35px;
    font-weight: 400;
    background: #fff;
    display: block;
    position: absolute;
    margin-top: -1px;
}

.timeline li .line-title{
    font-size: 16px;
    line-height: 6px;
}

.timeline li:first-child{
    padding: 0 0 60px 19px;
}

.timeline li:first-child:before{
    border: 0;
    background: none;
    position: relative;
}

.timeline li:first-child i{
    float: left;
    margin-left: -30px;
    padding: 18px 16px;
    border-radius: 30px;
    margin: -13px -45px;
    background: #fff;
    width: 53px;
    text-align: center;
}

.timeline li .section-title{
    padding-left: 20px;
}

.timeline li span {
    font-size: 12px;
    padding: 9px 0;
    display: block;
}

.timeline li:last-child{
    border: 0;
    margin-left: 2px;
}

.clients{
    width: 100%;
    background: #0c49cd00;
    box-shadow: 0px 0px 48px 0px #fff;
}

.clients_name{
    font-size: 14px;
    margin-top: 40px;
}
.clients_list{
    display: flex;
}
.clients_list img{
    width: 23%;
    height: 50px;
    text-align: center;
    margin: 20px 4% 40px 4%;
    box-shadow:  0px 0px 48px 0px rgba(4, 6, 4, 0.1);
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}



/* Portfolio */

.porifolo{
    background: #fff;
    box-shadow:  0px 0px 48px 0px rgba(4, 6, 4, 0.1);
    border-radius: 10px;
}

.portfolio_menu{
    width: 100%;
    box-shadow:  0px 0px 48px 0px rgba(4, 6, 4, 0.1);
}

.portfolio_menu .porifolo-list{
    width: 2%;
    display: flex;
    list-style-type: none;
}









































footer{
    background-color: #000;
    color: #fff;
    display: flex;
} 

.footer .name{
    margin-left: 20px;
    font-size: 18px;
}
footer .copyright{
    font-size: 18px;
}

footer .copyright a{
    color: #fff;
    padding-left:10px ;
}
footer .copyright a:hover{
    color:#ff0000
}
.progress{
    width: 300px;
    height: 3px;
    background-color:#4c4c4c ;

}












header nav .menuout{
                    z-index: 10
                }
                


.wrapper{
                    margin-top: 60px;
                    width: 1170px ;
                    background: transparent;
}
.container{
                    padding-right: 15px;
                    padding-left: 15px;
                    margin-right: auto;
                    margin-left: auto;
}
*{
                    margin: 0;
                    padding: 0;
                    border: 0;
                    outline: 0;;
                    background: transparent;
}
.row{
                    display: flex;
}

.col-md-4  .pull-right{
                    text-align: right;
}
.col-md-8{
                    margin-left: 30px;
}

